@model dynamic
@{
    var breadCrumb = Context.Request.Path.Value.Split('/');
    var allItems = breadCrumb.Count() - 1;
}

<div class="container">
    @if (Model != null)
    {
        <h1 class="mt-4 mb-3">
            @Model.DisplayText
            @if (Model.Content != null)
            {
                <small>@(Model.Content?.SubtitlePart?.Subtitle.Text ?? "")</small>
            }
            else
            {
                <small>@(Model.SubTitle ?? "")</small>
            }
        </h1>
    }
    <ol class="breadcrumb">
        <li class="">
            <a href="~/">@T["Home"]</a>
        </li>
        @for (int i = 0; i <= allItems; i++)
        {
            if (i == allItems)
            {
                <li class="breadcrumb-item active">@breadCrumb[i]</li>
            }
            else
            {
                <li class="breadcrumb-item"><a href="~/@breadCrumb[i]">@breadCrumb[i]</a></li>
            }
        }
    </ol>
</div>