@model PagerInfo
@if (Model.TotalPages > 1)
{
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-page="@Model.PageBaseUrl" asp-route-pageIndex="@(Model.CurrentPage- 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">@T["Previous"]</span>
                </a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages && Model.ShowPages; i++)
        {
            <a asp-page="@Model.PageBaseUrl" asp-route-pageIndex="@i" class="page-link @(Model.CurrentPage== i ? "active" : "")">@(Model.CurrentPage == i ? Html.Raw($"<strong>{i}</strong>") : Html.Raw(i.ToString()))</a>
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-page="@Model.PageBaseUrl" asp-route-pageIndex="@(Model.CurrentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">@T["Next"]</span>
                </a>
            </li>
        }
    </ul>
}