@model PagerInfo
@if (Model.TotalPages > 1)
{
    <div>
        @if (Model.HasPreviousPage)
        {
            <a asp-page="@Model.PageBaseUrl" asp-route-pageIndex="@(Model.CurrentPage- 1)">
                @("<--")
            </a>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a asp-page="@Model.PageBaseUrl" asp-route-pageIndex="@i" class="@(Model.CurrentPage== i ? "active" : "")">@i</a>
        }

        @if (Model.HasNextPage)
        {
            <a asp-page="@Model.PageBaseUrl" asp-route-pageIndex="@(Model.CurrentPage+ 1)">
                @("-->")
            </a>
        }

    </div>
}