@model dynamic

@foreach (var project in Model.CurrentItemsOnPage)
{
    var projectLink = $"~/project/{project.DisplayText}";

    <div class="row">
        <div class="col-md-7">
            <a href="@Url.Content(projectLink)">
                <img class="img-fluid rounded mb-3 mb-md-0" asset-src="@project.Content.Project.Image.Paths[0]" img-width="700" img-height="300" img-resize-mode="Crop" alt=""/>
            </a>
        </div>
        <div class="col-md-5">
            <h3 class="card-title">
                @project.DisplayText
            </h3>
            <p class="card-text">@project.Content.HtmlBodyPart.Html</p>
            <a class="btn btn-primary" href="@Url.Content(projectLink)">
                @T["View Project"]
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <hr>
}
