@page

@functions{
    string test = "test value";
}

@{

    var services = await Orchard.QueryContentItemsAsync(q => q.Where(c => c.ContentType == "Service" && c.Published).OrderByDescending(o => o.PublishedUtc));
    var service = services.First();
    var carousel = Orchard.GetRecentContentItemsByContentTypeAsync("Carousel", 1).GetAwaiter().GetResult().Single();
    var welcomeContent = await Orchard.GetContentItemByAliasAsync("alias:welcome");
    var portfolio = Orchard.GetRecentContentItemsByContentTypeAsync("Project").GetAwaiter().GetResult();
    var contactForm = Orchard.GetRecentContentItemsByContentTypeAsync("Form").GetAwaiter().GetResult().SingleOrDefault(f => f.DisplayText == "Contact");

}

@section Nav {

}

@section Header {
    <partial name="Carousel" />
}

@section Messages {
}

@section Footer {

}


@if (contactForm == null)
{
    <div class="alert"><h1>The form could not be found. Make sure it is present and named 'Contact'</h1></div>
}

<h1 class="my-4">Welcome to Modern Business</h1>
<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->




<h3>@service.Content</h3>
@carousel.Content.BagPart.ContentItems[0].Slide.Image.Paths[0]
@Html.Raw(welcomeContent.Content.HtmlBodyPart.Html)
<img asset-src="@welcomeContent.Content.RawContent.Images.Paths[0]" img-width="200" img-height="100" img-resize-mode="Crop" />
@(welcomeContent ?? welcomeContent.Content ?? "no welcome")

<div class="row">
    <partial name="/Areas/ModernBusiness.Pages.Shared/Pages/Shared/ProjectCard.cshtml" model="portfolio" />
</div>