@page

@functions{
    string test = "test value";
}

@{

    var portfolio = await Orchard.QueryContentItemsAsync(q => q.Where(c => c.ContentType == "Project" && c.Published).Take(2).Skip(2));
    var project = portfolio.First();
    var carousels = await Orchard.QueryContentItemsAsync(q => q.Where(c => c.ContentType == "Carousel" && c.Published));
    var services = await Orchard.QueryContentItemsAsync(q => q.Where(c => c.ContentType == "Service" && c.Published).OrderByDescending(o => o.PublishedUtc));
    var service = services.First();
    var carousel = carousels.Single();
    var welcomeContent = await Orchard.GetContentItemByAliasAsync("alias:welcome");
}


@section Header {
    <partial name="Carousel" />
   
}

@section Messages {
}

@section Footer {
    This is the footer
}
<h1>The body: <br />@T[$"This is the razor page with a value for test: { test }"]</h1>

<img asset-src="@project.Content.Project.Image.Paths[0]" img-width="200" img-height="100" img-resize-mode="Crop" />

<h2>@project.Content.TitlePart.Title</h2>

<h3>@service.Content</h3>
@carousel.Content.BagPart.ContentItems[0].Slide.Image.Paths[0]
@Html.Raw(welcomeContent.Content.HtmlBodyPart.Html)
<img asset-src="@welcomeContent.Content.RawContent.Images.Paths[0]" img-width="200" img-height="100" img-resize-mode="Crop" />
@(welcomeContent ?? welcomeContent.Content ?? "no welcome")