@page

@functions{
    string test = "test value";
}

@{

    var services = await Orchard.QueryContentItemsAsync(q => q.Where(c => c.ContentType == "Service" && c.Published).OrderByDescending(o => o.PublishedUtc));
    var service = services.First();
    var carousel = Orchard.GetRecentContentItemsByContentTypeAsync("Carousel", 1).GetAwaiter().GetResult().Single();
    var welcomeContent = await Orchard.GetContentItemByAliasAsync("alias:welcome");
    var portfolio = Orchard.GetRecentContentItemsByContentTypeAsync("Project").GetAwaiter().GetResult();
}

@section Nav {

}

@section Header {
    <partial name="Carousel" />
}

@section Messages {
}

@section Footer {

}

<h1>The body: <br />@T[$"This is the razor page with a value for test: { test }"]</h1>


<h3>@service.Content</h3>
@carousel.Content.BagPart.ContentItems[0].Slide.Image.Paths[0]
@Html.Raw(welcomeContent.Content.HtmlBodyPart.Html)
<img asset-src="@welcomeContent.Content.RawContent.Images.Paths[0]" img-width="200" img-height="100" img-resize-mode="Crop" />
@(welcomeContent ?? welcomeContent.Content ?? "no welcome")

<div class="row">
    <partial name="/Areas/ModernBusiness.Pages.Shared/Pages/Shared/ProjectCard.cshtml" model="portfolio" />
</div>