@page

@{
    var welcomeText = await Orchard.GetContentItemByAliasAsync("alias:aboutbusiness");
    var team = (await Orchard.GetRecentContentItemsByContentTypeAsync("Team")).SingleOrDefault();
    var teamMembers = await Orchard.GetRecentContentItemsByContentTypeAsync("TeamMember");
    var customers = (await Orchard.GetRecentContentItemsByContentTypeAsync("Customers")).SingleOrDefault();
    var customerList = await Orchard.GetRecentContentItemsByContentTypeAsync("Customer");
}

@section Header {
    <partial name="/Areas/ModernBusiness.Pages.Shared/Pages/Shared/BreadcrumbHeader.cshtml" model="@welcomeText" />
}

<div class="row">
    <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" asset-src="@((string)welcomeText.Content.RawContent.Images.Paths[0])" img-width="750" img-height="450" img-resize-mode="Crop" alt="" />
    </div>
    <div class="col-lg-6">
        <h2>@T["About Modern Business"]</h2>
        @Html.Raw(welcomeText.Content.HtmlBodyPart.Html)
    </div>
</div>

<h2>@team.Content.TitlePart.Title</h2>
<partial name="/Areas/ModernBusiness.Pages.Shared/Pages/Shared/TeamCards.cshtml" model="@teamMembers" />

<h2>@customers.Content.TitlePart.Title</h2>

<div class="row">
    @foreach (var item in customerList)
    {
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" asset-src="@((string)item.Content.Customer.Logo.Paths[0])" img-width="160" img-height="100" img-resize-mode="Crop" alt="" />
        </div>
    }
</div>



