{% assign link = Model.ContentItem.Content.LinkMenuItemPart %}
{% assign dropLink = Model.ContentItem.Content.MenuItemsListPart.MenuItems %}

{% if dropLink.size > 0 %}
<a class="nav-link dropdown-toggle" href="{{ link.Url | href }}" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ link.Name }}
</a>
<div class="dropdown-menu dropdown-menu-right">
    {% for item in dropLink %}
    <a class="dropdown-item" href="{{ item.LinkMenuItemPart.Url }}">{{ item.LinkMenuItemPart.Name }}</a>
    {% endfor %}
</div>
{% else %}
<a href="{{ link.Url | href }}" class="nav-link">{{ link.Name }}</a>
{% endif %}