@* Based on https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/ *@
@using OrchardCore.DisplayManagement.Shapes;
@{
    var cacheDuration = new TimeSpan(0, 1, 0);
}
<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
    <link type="image/x-icon" rel="shortcut icon" href="/ModernBusiness.Theme/favicon.ico" />
    @*<script asp-name="bootstrap" use-cdn="true" version="4" at="Foot"></script>
        <style asp-name="bootstrap" use-cdn="true" version="4"></style>*@
    <style asp-name="font-awesome" use-cdn="true" version="5"></style>
    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />
    <!-- Bootstrap core CSS and Vue -->
    <link href="/ModernBusiness.Theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/ModernBusiness.Theme/css/modern-business.css" rel="stylesheet">
</head>
<body dir="@Orchard.CultureDir()">
    <cache expires-after="@cacheDuration">
        <menu alias="alias:main-menu"></menu>
    </cache>
    <div class="login container-fluid position-fixed navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <shape Type="LanguageSelection" />
        </div>
    </div>
    @RenderSection("Nav", required: false)
    <header class="top">
        @RenderSection("Header", required: false)
    </header>
    <main role="main" class="container">
        @RenderSection("Messages", required: false)
        @RenderBody()
    </main>
    <footer class="py-5 bg-dark">
        <cache expires-after="@cacheDuration">
            @{
                var footerContent = await Orchard.GetContentItemByAliasAsync("alias:footer");
            }
            @Html.Raw(footerContent.Content.HtmlBodyPart.Html)
        </cache>
        <div class="container alert-light"><p class="text-center">User: @User.Identity.Name</p></div>

        <resources type="FootScript" />
        <!-- Bootstrap core JavaScript from theme layout-->
        <script src="/ModernBusiness.Theme/vendor/jquery/jquery.min.js"></script>
        <script src="/ModernBusiness.Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        @RenderSection("Footer", required: false)
    </footer>
</body>
</html>